.narrow-container {
  width: 85%;
  margin: auto;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 15px;
  margin: 25px 0 0 0;
  vertical-align: middle;
  transition: 0.4s;
}

.arrow {
  height: 10px;
}

.panel {
  position: relative;
  top: -5px;
  z-index: -1;
  background: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: 500ms;
}

.active {
  padding: 15px 12px 8px 12px;
  height: auto;
}
