nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
}

.logo {
  width: 130px;
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 165px;
  list-style-type: none;
}

@media (max-width: 375px) {
  .nav__links {
    width: 140px;
  }
}

a {
  text-decoration: none;
}

.nav__links a {
  color: inherit;
}

.is-active {
  text-decoration: underline;
}
