* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.slider img {
  width: 100%;
  object-fit: scale-down;
}

.slider-container {
  position: relative;
  width: 640px;
  height: 427px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
}

.slider {
  display: flex;
  width: 100%;
}

.slider-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #fff;
}

.slider-button {
  position: absolute;
  height: 80px;
  width: 47px;
  top: 38%;
  z-index: 10;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

#prevBtn {
  left: 5%;
}

#nextBtn {
  right: 5%;
}
